.btn {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: rgb(10, 10, 138);
  color: white;
}

.btn-secondary {
  background-color: rgb(196, 223, 246);
  color: black;
}

.btn-x-small {
  font-size: 10px;
  padding: 4px 12px;
}

.btn-small {
  font-size: 12px;
  padding: 6px 14px;
}

.btn-medium {
  font-size: 14px;
  padding: 8px 18px;
}

.btn-large {
  font-size: 16px;
  padding: 10px 22px;
}

.btn:disabled {
    cursor: not-allowed;
    background-color: rgb(188, 178, 178);
    color: black;
}
